/* Layouting */

#col .col { float: left; }
#col .col-100, .alert .alert-100 { width: 100%; }
#col .col-95, .alert .alert-95 { width: 95%; padding: 3px; }
#col .col-90, .alert .alert-90 { width: 90%; padding: 3px; }
#col .col-85, .alert .alert-85 { width: 85%; padding: 3px; }
#col .col-80, .alert .alert-80 { width: 80%; padding: 3px; }
#col .col-75, .alert .alert-75 { width: 75%; padding: 3px; }
#col .col-70, .alert .alert-70 { width: 70%; padding: 3px; }
#col .col-65, .alert .alert-65 { width: 65%; padding: 3px; }
#col .col-60, .alert .alert-60 { width: 60%; padding: 3px; }
#col .col-55, .alert .alert-55 { width: 55%; padding: 3px; }
#col .col-50, .alert .alert-50 { width: 50%; padding: 3px; }
#col .col-45, .alert .alert-45 { width: 45%; padding: 3px; }
#col .col-40, .alert .alert-40 { width: 40%; padding: 3px; }
#col .col-35, .alert .alert-35 { width: 35%; padding: 3px; }
#col .col-30, .alert .alert-30 { width: 30%; padding: 3px; }
#col .col-25, .alert .alert-25 { width: 25%; padding: 3px; }
#col .col-20, .alert .alert-20 { width: 20%; padding: 3px; }
#col .col-15, .alert .alert-15 { width: 15%; padding: 3px; }
#col .col-10, .alert .alert-10 { width: 10%; padding: 3px; }
#col .col-5, .alert .alert-5 { width: 5%; padding: 3px; }
#col .col .col-content, #col .col .col-sidebar {
  background-color: white;
  width: 100%;
  outline: 1px solid gray;
  padding: 5px;
}