/* Custom core CSS */

body {
  background-color: whitesmoke;
}

a, a:hover {
  color: black;
}

blockquote {
  margin: 20px 0 20px;
}

hr {
  border-color: transparent;
}

header {
  background-color: deepskyblue;
  height: 100px;
}

footer {
  background-color: #3c3c3c;
  border-top: 5px solid deepskyblue;
  color: white;
  font-weight: bold;
  height: 100px;
  margin-top: 5px;
  padding: 35px 0px;
}

.separator {
  padding:5px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.logo {
  margin: 15px 0 15px;
  height: 60px;
  width: 180px;
}

.navbarheader {
  border-bottom: 5px solid #3c3c3c;
}

.nav-icon {
  background-color: #fafafa;
  border-radius: 50%;
  color: deepskyblue;
  cursor: pointer;
  display: inline-block;
  margin: 30px 0 30px 5px;
  overflow: hidden;
  padding: 7px 10px;
  text-align: center;
  transition-duration: 0.5s;
  transition-property: transform;
}

.nav-icon:hover {
transform: rotate(360deg);
-webkit-transform: rotate(360deg);
}

ul, ol {
  list-style-type: none;
  margin: 0;
}

legend {
  border-bottom: 4px solid deepskyblue;
}

.btn.btn-default, input[type=submit], input[type=reset] {
  border-radius: 0;
  border: 2px solid #3c3c3c;
  background-color: deepskyblue;
  color: black;
  font-weight: bolder;
}

.btn.btn-default:hover, input[type=submit]:hover, input[type=reset]:hover {
  background-color: lightgray;
  border-color: gray;
}

/* Sidebar ( Kategori ) */

ul.sidebar li {
  padding-left: 10px;
  border-left: 4px solid silver;
}

/* Recommendation ( Main Index ) */

.recommendation {
  padding: 5px;
}

.recommendation-title {
  font-weight: bold;
}

ul li.border-aksesoris-fashion,
fieldset legend.border-aksesoris-fashion {
  border-color: #16a085;
}
ul li.border-elektronik,
fieldset legend.border-elektronik {
  border-color: #27ae60;
}
ul li.border-hobi,
fieldset legend.border-hobi {
  border-color: #2980b9;
}
ul li.border-office-stationery,
fieldset legend.border-office-stationery {
  border-color: #8e44ad;
}
ul li.border-olahraga,
fieldset legend.border-olahraga {
  border-color: #2c3e50;
}
ul li.border-otomotif,
fieldset legend.border-otomotif {
  border-color: #f39c12;
}
ul li.border-rumahtangga,
fieldset legend.border-rumahtangga {
  border-color: #d35400;
}

.border-aksesoris-fashion:hover { border-left-color: turquoise; }
.border-elektronik:hover { border-left-color: #2ecc71; }
.border-hobi:hover { border-left-color: #3498db; }
.border-office-stationery:hover { border-left-color: #9b59b6; }
.border-olahraga:hover { border-left-color: #34495e; }
.border-otomotif:hover { border-left-color: #f1c40f; }
.border-rumahtangga:hover { border-left-color: #e67e22; }

.see-all {
  color: lightgray;
  float: right;
  font-size: 11pt;
  font-weight: normal;
}

.recommendation-image {
  max-height: 300px;
}

.recommendation-image img {
  width: 100%;
  height: auto;
}

.recommendation-detail span {
  display: block;
  text-align: center;
}

.recommendation-detail span.name {
  font-weight: bolder;
}

/* Development Section */

.sidemenu {
  background-color: #3c3c3c;
  display: none;
  height: 100%;
  padding: 10px 5px 10px 10px;
  position: fixed;
  right: 0;
  top: 0;
  width: 335px;
  z-index: 10;
}

.sidemenu-header {
  color: white;
  display: block;
}

.sidemenu-body {
  color: white;
}

.sidemenu-register {
  display: none;
}

.glyphicon-remove {
  color: gray;
}

.glyphicon-remove:hover {
  cursor: pointer;
  color: lightgray;
}

.sidemenu-body .btn {
  color: black;
}

.sidemenu ul, .sidemenu ol {
  padding: 0;
}

.sidemenu ul li, .sidemenu ol li {
  border-bottom: 1px solid gray;
  cursor: pointer;
  padding-top: 3px;
}

.sidemenu ul a.side-option li, .sidemenu ol a.side-option li {
  color: white;
  text-decoration: none;
}

.cek{
  background-color: white;
  height: 270px;
  width: 100%;
}
.item-detail{
  background-color: white;
  margin-top: 0px;
  padding-bottom: 30px;
  padding-top: 10px;
}
.button-body{
  text-align: center;
  padding-top: 10px;
  margin: 5px;
}

/* details */

.populer{
  display: table;
  height: 100px;
  padding: 10px 0px;
  text-align: center;
  width: 100%;
}
.populer:hover {
  background-color: whitesmoke;
  cursor: pointer;
  outline: 1px solid lightgray;
}
.populer .name, .populer .price{
  display: block;
}
.populer .name{
  font-weight: bold;
}

.item-img {
  display: table-cell;
  height: 100px;
  vertical-align: middle;
  width: 100%;
}
.item-img img{
  max-height: 100px;
  width: 100%;
}
.details{
  display: table-cell;
  height: 100px;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}
.item-img {
  display: table-cell;
  height: 100px;
  vertical-align: middle;
  width: 100%;
}
.item-img img{
  max-height: 100px;
  width: 100%;
}
.details{
  display: table-cell;
  height: 100px;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}
.img-detail img{
  max-height: 300px;
  width: auto;
}
.detail{
  height: 300px;
  width: 100%;
}
.detail .name, .detail .price, .detail .diskon, .detail .stock {
  display: block;
}
.detail .name{
  border-bottom: 5px double limegreen;
  font-weight: bold;
  font-size: 15pt;
  padding-bottom: 5px;
}
.detail .price, .detail .diskon, .detail .stock{
  padding: 10px 10px;
}
.prices{
  font-size: 1.1em;
  height: 250px;
  width: 100%;
}
strike{
  color: lightcoral;
}
.footer-detail{
  clear: both;
  text-align: right;
}
.btn-danger{
  background-color: deepskyblue;
  border-color: deepskyblue;
  color: white;
  padding: 5px 15px;
}
.btn-danger:hover, .btn-danger:focus{
  background-color: deepskyblue !important;
  border-color: deepskyblue !important;
  color: black;
  padding: 5px 15px;
}
.keterangan{
  font-size: 1.1em;
  padding-bottom: 20px;
}

/* Setting */

table{
  width: 60%;
}
h5{
  font-weight: bold;
  font-size: 14pt;
  padding: 10px;
}
h4{
  font-weight: bold;
  font-size: 15pt;
}
.form-set{
  padding: 0px;
  border: 1px solid gray;
  border-radius: 4px;
}
.setting{
  background-color: white;
  text-align: center;
}
.setting .set-user{
  height: auto;
  padding: 10px;
  width: 100%;
  font-size: 18px;
}
.set{
  background-color: deepskyblue;
  border-radius: 4px;
  color: white;
  margin: 0px;
  padding: 10px;
}
.set-user{
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: black;
  display: block;
  vertical-align: middle;
  width: 500px;
}
.set-pas{
  font-size: 12pt;
}
.btn-submit{
  margin: 10px 0px;
}
.border-setting{
  border-left: 3px solid deepskyblue;
  padding: 3px;
}
.active{
  background-color: deepskyblue;
  color: white;
}
.border-setting:hover{
  cursor: pointer;
  color: white;
  background-color: deepskyblue;
}

/* Buy */

.detail-beli {
  background-color: whitesmoke;
  outline: 1px solid gray;
  padding: 20px;
  display: none;
  width: 100%;
  height: auto;
  position: relative;
}
/* News Setting */
.table-sett{
  width: 100%;
}
.header-setting{
  padding-bottom: 20px;
}
.all-settings{
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
}
.tr-table{
  border-bottom: 1px solid #ccc;
}
.tr-table:hover{
  background-color: whitesmoke;
  cursor: pointer;
}
.full-set{
  float: left;
  padding: 10px 10px;
  width: 200px;
}
.sunting{
  color: #3b5998;
  float: right;
  padding: 10px 10px;
  width: 100px;
}
.ceter{
  color: #ccc;
}
.footer-setting{
  border-top: 1px solid black;
  padding-top: 15px;
  text-align: center;
  margin: 10px 10px;
}
.but-set{
  background-color: deepskyblue;
  border-radius: 5px;
  color: white;
  padding: 5px 5px;
}
.body-set{
  width: 400px;
  height: auto;
  background-color: whitesmoke;
  text-align: center;
}
.but-set:hover{
  background-color: skyblue;
  color: black;
}
.conten {
  display:none;
}
.depan{
  float: right;
  font-weight: bold;
  padding: 8px 0px;
}
.belakang{
  width: 250px;
}
.info{
  padding: 10px 0px;
  text-align: center;
}
.all-ing{
  background-color: whitesmoke;
  padding-bottom: 10px;
}
ul li.border-neutral,
fieldset legend.border-neutral { 
  border-color: #95a5a6;
}
.border-neutral:hover { border-left-color: #bdc3c7; }
footer {
  position: relative;
  bottom: 0;
}
.user-sidebar a {
  text-decoration: none;
  color: black;
}
.user-sidebar li:hover {
  background-position: -100% 0;
}
.user-sidebar li {
  background-size: 200% 100%;
  background-image: linear-gradient(to right, white 50%, whitesmoke 50%);
  transition: background-position 1s;
}
.user-sidebar li.active {
  font-weight: bold;
  color: black;
}
.change-image {
  border-radius: 15%;
  background-color: #242729;
  color: white;
  padding: 3px;
}
.ri-tran{
  width: 100%;
  text-align: center;
}
th{
  text-align: center;
  background-color: whitesmoke;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 7px 4px;
}
td.ftt{
  padding: 5px 0px;
}
td.bank{
  padding: 7px 7px 15px 7px;
}
img.bank{
  margin-bottom: 10px;
}
.ftt{
  text-align: center;
}
div.fot{
  margin-top: 5px;
}
td.bank{
  height: 200px;
  
}
td.bank:hover{
  cursor: pointer;background-color: white;
}
.toko-on{
  background-color: whitesmoke;
  padding: 10px 0px;
}