.content-table-head {
	margin-bottom: 0;
	margin-left: 5px;
}
.content-table-description {
	font-size: 10.5pt;
	margin-left: 5px;
}
.list-content .table-line {
	margin: 0;
}
.list-content .table-line .table-head, .list-content .table-line .table-content, .list-content .table-line .table-foot{
	padding: 10px;
}
.list-content .table-line .table-head{
	color: #2980b9;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 25px;
	min-width: 135px;
}
.list-content thead, .list-content tbody, .list-content tfoot {
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
}
.list-content .table-line .table-content a.shop-name {
	color: black;
}
.note {
	color: maroon;
	padding:0px 0 0 18px;
	font-size: 0.7em;
}
.btn-default {
	border-radius: 0;
	border: 2px solid #3c3c3c;
	background-color: deepskyblue;
	color: black;
	font-weight: bolder;
}

/* PROFIL */

.isi-profil{
	padding-bottom: 30px;
}
.body-profil{
	border-left: 1px solid #ccc;
	padding: 30px 25px 0;
	position: relative;
}
.judul{
	border-bottom: 1px solid #ccc;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
}
.ulList-profil li{
	border-color: #ccc;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
}
.ulList-profil{
	padding: 0px;
}
.liList-profil{
	padding: 10px 0px;
}
.judul div{
	display: inline-block;
}
.ful div{
	display: inline-block;
}
.left-profil{
	padding-left: 5px;
	width: 30%;
}
.tide:hover{
	color: blue;
}
.tide{
	color: #ccc;
	padding-right: 5px;
	text-align: right;
}
.judul:hover{
	background-color: whitesmoke;
	cursor: pointer;
}
.liList-profil:hover{
	background-color: whitesmoke;
}
.cancel{
	color: blue;
	padding-left: 5px;
}
input.btn-kirim{
	margin-left: 128px;
}
select{
	border: 1px solid #ccc;
	border-radius: 5px;
	height: 30px;
}
.cancel:hover{
	color: black;
}
.krim:hover{
	color: black;
}
.gambar img {
	width: 150px;
	height: 200px;
}
